<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-white ">
  <div class="p-4 shadow-md">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">
        <div class="flex">
          <h1 class="font-bold mt-1">Contratar</h1>
          <img src="/images/argentina.png" alt="bandera" class="w-5 h-6 ml-1 mt-1">
        </div>
        <div class="flex items-center">
          <a href="/" class="hover:underline mr-4">
            Inicio
          </a>
          <a href="/profile" class="hover:underline mr-4">
            Perfil
          </a>
          <a href="/logout" class="mr-2 lg:mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <% if (user) { %>
    <button id="toggleFilterButton" class="bg-blue-500 text-white rounded-lg left-10 top-20 p-3 absolute">Filtrar ofertas</button>
    <div class="relative"></div>
    <form id="filterForm" action="/jobs" method="get" class="hidden rounded-lg text-center p-3 mt-20 flex justify-center items-center">
      <div class="flex flex-col items-center">
        <select name="categoria" class="mb-4">
          <option value="">Todas las categorías</option>
          <option value="Tecnologia">Tecnologia</option>
          <option value="Gastronomia">Gastronomia</option>
          <option value="Abogacia">Abogacia</option>
          <option value="Indumentaria">Indumentaria</option>
          <option value="Economia">Economia</option>
          <option value="Arquitectura">Arquitectura</option>
          <option value="Diseño">Diseño</option>
          <option value="Constructores">Constructores</option>
          <option value="Redes sociales">Redes sociales</option>
          <!-- ... (otros valores de categoría) -->
        </select>
        <button class="bg-blue-500 text-white rounded-lg py-2 px-6 block" type="submit">Aplicar filtro</button>
      </div>
    </form>
    
    

    <button id="toggleFormButton" class="bg-blue-500 text-white rounded-lg right-10 top-20 p-3 absolute">Crear oferta</button>

    <form id="offerForm" action="/users/create-offer" method="post" class="hidden bg-gray-100 p-4 rounded-lg text-center">
      <select name="categoria" required class="block mx-auto mb-2 p-2 rounded-lg w-64 text-center">
        <option value="" disabled selected>Categoria</option>
        <option value="Tecnologia">Tecnologia</option>
        <option value="Gastronomia">Gastronomia</option>
        <option value="Abogacia">Abogacia</option>
        <option value="Indumentaria">Indumentaria</option>
        <option value="Economia">Economia</option>
        <option value="Arquitectura">Arquitectura</option>
        <option value="Diseño">Diseño</option>
        <option value="Constructores">Constructores</option>
        <option value="Redes sociales">Redes sociales</option>
      </select>
      <input type="number" name="precio" placeholder="Precio total" required class="block mx-auto mb-2 p-2 rounded-lg w-64">
      <textarea name="descripcion" placeholder="Descripción oferta" required class="block mx-auto mb-2 p-2 rounded-lg w-64 h-32" maxlength="30"></textarea>
      <button class="bg-blue-500 text-white rounded-lg py-2 px-6" type="submit">Crear Oferta</button>
    </form>
    
  
    <h2 class="text-center text-2xl font-semibold mt-20">Ofertas existentes</h2>
<ul class="px-4 md:px-10 mt-5 py-2">
  <% if (ofertasArray && ofertasArray.length > 0) { %>
    <% ofertasArray.forEach(oferta => { %>
      <li class="bg-gray-200 rounded-lg m-2">
        <div class="p-4 flex justify-between items-center cursor-pointer">
          <div class="flex items-center w-full">
            <!-- Mostrar la imagen del usuario que publicó la oferta -->
            <img src="<%= oferta.user.profileImage %>" alt="<%= oferta.user.username %>'s Profile" class="rounded-full w-20 h-20 object-cover mr-2">
            <div class="ml-2 flex-grow">
              <p><%= oferta.categoria %></p>
              <p>$<%= new Intl.NumberFormat('es-ES', { style: 'decimal' }).format(Number(oferta.precio)) %></p>
              <p class="oferta-descripcion"><%= oferta.descripcion %></p>
            </div>
            <div class="flex flex-col items-center md:flex-row md:mr-2">
              <% if (user._id.toString() === oferta.userId.toString()) { %>
                <form id="deleteForm_<%= oferta._id %>" action="/users/delete-offer" method="post">
                  <input type="hidden" name="offerId" value="<%= oferta._id %>">
                  <button class="bg-red-500 text-white rounded-lg px-6 py-2 mb-2 md:mb-0 md:mr-2" type="submit">Eliminar</button>
                </form>
              <% } else { %>
                <button class="bg-blue-500 text-white rounded-lg px-6 py-2">
                  <a href="mailto:<%= oferta.user.email %>?subject=contratar.com.ar/aplicacion" target="_blank" rel="noopener noreferrer">
                    Aplicar
                  </a>
                </button>
              <% } %>
            </div>
          </div>
        </div>
      </li>
          
          <% }); %>
      <% } else { %>
        <p>No hay ofertas disponibles.</p>
      <% } %>
    </ul>    
  <% } else { %>
    <!-- Si no está logueado -->
    <div class="flex items-center justify-center h-screen">
      <p class="text-center">
        No estás logueado. Por favor <a href="/login" class="text-blue-500 hover:underline">inicia sesión</a>.
      </p>
    </div>
  <% } %>



  <script>
    // Obtén las referencias a los elementos
    const toggleFormButton = document.getElementById('toggleFormButton');
    const offerForm = document.getElementById('offerForm');
  
    // Agrega un evento de clic al botón para alternar la visibilidad del formulario
    toggleFormButton.addEventListener('click', () => {
      offerForm.classList.toggle('hidden'); // Alterna la clase 'hidden' para mostrar u ocultar el formulario
      toggleFormButton.textContent = offerForm.classList.contains('hidden') ? 'Crear oferta' : 'Cancelar';
    });

      // Agrega un evento de clic al botón para alternar la visibilidad del formulario de filtro
  toggleFilterButton.addEventListener('click', () => {
    filterForm.classList.toggle('hidden'); // Alterna la clase 'hidden' para mostrar u ocultar el formulario
    toggleFilterButton.textContent = filterForm.classList.contains('hidden') ? 'Filtrar ofertas' : 'Cancelar';
  });
  </script>
  
</body>
</html>
