<!DOCTYPE html>
<html lang="es">
<head>
  <title>Usuarios</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="images/AR.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 

       <!-- NavBar -->
  <%- include('partials/navbar') %>


    <% if (user) { %>
      <div class="container sm:px-20 p-2 mx-auto">
        <button id="filter-button" class="bg-indigo-500 text-white rounded-lg right-10 top-25 p-3 absolute" style="z-index: 2; margin-top: 5px;">Ver filtros</button>
        <div class="mt-2 mb-4">
          <select id="profession-select" class="py-2 mt-20 p-3 border rounded-md left-10 top-5 p-3 absolute" style="display: none; width: 55%;">
            <option value="all">Mostrar todos</option>
            <option value="Tecnologia">Tecnologia</option>
            <option value="Gastronomia">Gastronomia</option>
            <option value="Abogacia">Abogacia</option>
            <option value="Indumentaria">Indumentaria</option>
            <option value="Economia">Economia</option>
            <option value="Arquitectura">Arquitectura</option>
            <option value="Diseño">Diseño</option>
            <option value="Constructores">Constructores</option>
            <option value="Redes sociales">Redes sociales</option>
          </select>
        </div>
      </div>
      <h1 id="profession-title" class="text-4xl font-semibold mb-2 text-center" style="margin-top: 32px;">Encontra tu candidato</h1>
      <div class="mt-4 md:flex md:flex-col lg:grid lg:grid-cols-2 gap-2 px-5">
        <% users.forEach((user, index) => { %>
          <div class="bg-gray-200 rounded-lg shadow-md user-card mt-2">
            <div class="p-4 flex items-center cursor-pointer">
              <img src="<%= user.profileImage %>" alt="<%= user.username %>'s Profile" class="rounded-full w-20 h-20 object-cover mr-2 ring ring-indigo-500 ring-offset-base-100 ring-offset-2">
              <div class="flex-1">
                <div class="flex items-center">
                  <span class="font-semibold mr-2"><%= user.fullName %></span>
                </div>
                <span class="text-sm text-gray-600">$<%= user.price %>/hr</span>
              </div>
              <p class="mr-3 mb-2 profession"><%= user.profession %></p>
              <div class="ml-auto arrow-down">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                  <path d="M2.56 5.44a.5.5 0 0 0 .688.062L8 1.207l4.756 4.295a.5.5 0 1 0 .624-.78l-5-4.5a.5.5 0 0 0-.624 0l-5 4.5a.5.5 0 0 0-.062.687z"/>
                </svg>
              </div>
            </div>
            <div class="breadcrumb p-4">
              <% if (user.description && user.description.length > 0) { %>
                <p><%= user.description %></p>
              <% } else { %>
                <p class="text-center">Este usuario no tiene descripción.</p>
              <% } %>
            </div>
          </div>
        <% }); %>        
      </div>
    <% } else { %>
      <div class="flex items-center justify-center h-screen">
        <p class="text-center">
          No estás logueado. Por favor <a href="/login" class="text-blue-500 hover:underline">inicia sesión</a>.
        </p>
      </div>
    <% } %>
  </div> 
  
<script src="/utils/expand.js"></script>
<script src="/utils/filters.js"></script>

</body>
</html>
